html {
	box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

html,
body {
	height: 100%;
}

body {
    font-family: 'Noto Sans Mono', monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    overflow-x: hidden;
    color: $primary;
}

ul[class],
ol[class] {
	padding: 0;
}

ul[class] {
	list-style: none; 
}

a {
	text-decoration: none;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
	padding: 0 15px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	// position: relative;
	// overflow-x: hidden;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}