.first-screen {
    min-height: 100vh;
    width: 100%;
    background: rgb(4, 4, 2);
    background: linear-gradient(90deg, rgba(4, 4, 2, 1) 0%, rgba(109, 115, 115, 1) 100%);
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background-image: url("../images/Background-trim.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom center;
        bottom: 0;
        right: 0;
        left: 0;
        height: 100%;
    }

    &__body {
        text-align: center;
        position: relative;
    }

    &__title {
        font-size: 50px;
        font-weight: 700;
        line-height: 70px;
        color: #fff;
        max-width: 720px;
        margin: 0 auto;
        position: relative;
        padding-bottom: 20px;
    }

    &__title-span {
        position: relative;
        z-index: 3;
    }

    &__line {
        position: absolute;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
            drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        top: 38%;
        right: 6%;
    }

    &__text {
        font-size: 18px;
        line-height: 32px;
        padding-bottom: 48px;
        max-width: 867px;
        margin: 0 auto;
        color: #c6c0c0;
    }

    &__input-box {
        display: inline-block;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background-color: #f08c00;
            width: 48px;
            height: 48px;
            top: 8px;
            right: 8px;
            border-radius: 50%;
        }

        &::after {
            content: "";
            position: absolute;
            background-image: url("../images/search.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: bottom center;
            top: 20px;
            right: 20px;
            width: 24px;
            height: 24px;
        }
    }

    &__search {
        border-radius: 45px;
        border: 2px solid rgba(255, 255, 255, 0.4);
        background: rgba(222, 222, 222, 0.2);
        padding: 20px 210px 20px 24px;
        color: #fff;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 84px;
    margin-top: 35px;
    position: relative;

    &__logo {
    }

    &__cart {
        cursor: pointer;
        position: relative;

        &--chekout {
            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 11px;
                height: 11px;
                border-radius: 50%;
                background-color: $accent;
            }
        }
    }
}

.menu {
    &__list {
        display: flex;
        gap: 55px;
    }

    &__item {
    }

    &__link {
        color: #c6c0c0;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
    }
}

#line-animation {
    width: 350px;
}

.info {
    padding-top: 120px;
}

.info-list {
    display: flex;
    gap: 42px;
    justify-content: space-between;
    margin: 0;

    &__item {
        max-width: 314px;
        display: flex;
        gap: 15px;

        &:first-child {
            margin-left: 60px;
        }
    }

    &__icon {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            background-color: $accent;
            width: 48px;
            height: 48px;
            top: 8px;
            right: 8px;
            border-radius: 50%;
        }
    }

    &__img {
        height: 24px;
        width: 24px;
        position: absolute;
        z-index: 5;
        top: 19px;
        right: 19px;
    }

    &__wrap {
    }

    &__subtitle {
        padding-bottom: 15px;
        max-width: 240px;
    }

    &__text {
        margin: 0;
    }
}

.item-card {
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__info {
        max-width: 490px;
    }

    &__text-box {
        padding-bottom: 113px;
    }

    &__title {
        padding-bottom: 48px;
    }

    &__subtitle {
        padding-bottom: 8px;
    }

    &__text {
        margin: 0;
        padding-bottom: 16px;
    }

    &__price {
        color: $accent;
        font-size: 30px;
        font-weight: 700;
    }

    &__photo {
        margin-right: -130px;
        position: relative;
    }

    &__hover {
        position: absolute;
        background-image: url("../images/point.svg");
        width: 40px;
        height: 40px;
        cursor: pointer;

        &::after {
            content: "";
            position: absolute;
            width: 78px;
            height: 4px;
            top: -19px;
            right: -3px;
            background-color: $primary;
            transform: rotate(66deg);
            border-top-left-radius: 2px;
            opacity: 0;
            transition: opacity 0.3s;
        }

        &:hover {
            &::after {
                opacity: 1;
            }

            .item-card__line {
                opacity: 1;
            }
        }
    }

    &__line {
        display: inline-block;
        width: max-content;
        padding: 0 5px;
        border-bottom: 4px solid $primary;
        position: absolute;
        bottom: 89px;
        right: 51px;
        color: $secondary;
        opacity: 0;
        transition: opacity 0.3s;
    }

    &__img {
        max-width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.micro-card {
    display: flex;
    background-color: #fbfbfb;
    max-width: 356px;

    &__photo {
        padding: 16px 28px 16px 16px;
        align-self: center;
    }

    &__img {
    }

    &__box {
        padding: 16px 0;
    }

    &__subtitle {
        padding-bottom: 32px;
    }

    &__text {
        margin: 0;
        padding-bottom: 8px;
    }

    &__dots {
    }
}

.catalog {
    &__wrap {
    }

    &__title {
        text-align: center;
        padding-bottom: 16px;
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 40px;
        margin: 0 auto;
        width: min-content;
        margin-bottom: 54px;
        position: relative;
    }

    &__item {
        position: relative;
        color: $secondary;
        cursor: pointer;
    }

    .catalog__dot {
        height: 6px;
        width: 6px;
        position: absolute;
        background-color: $accent;
        border-radius: 50%;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.3s ease-in-out;
    }

    .mixitup-control-active {
        &:nth-child(1) {
            ~ .catalog__dot {
                left: 19px;
            }
        }

        &:nth-child(2) {
            ~ .catalog__dot {
                left: 102px;
            }
        }

        &:nth-child(3) {
            ~ .catalog__dot {
                left: 195px;
            }
        }

        &:nth-child(4) {
            ~ .catalog__dot {
                left: 278px;
            }
        }

        &:nth-child(5) {
            ~ .catalog__dot {
                left: 358px;
            }
        }

        &.catalog__item {
            color: $titles;
            font-weight: 500;
        }

        .catalog__dot {
            background-color: $accent;
        }
    }

    &__box {
    }

    &__btn {
        border: none;
        background-color: transparent;
        color: #5f5d5d;
        text-decoration-line: underline;
        padding: 12px 16px;
        background-color: #ededed;
        border-radius: 4px;
        margin: 48px auto 0;
        max-width: 152px;
        display: none;
        cursor: pointer;
    }
}

.catalog-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 60px;

    &__item {
    }

    &__digital-wrap {
        margin-bottom: 16px;
        max-width: 380px;
        min-height: 324px;
        background: #fbfbfb;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__photo {
        max-width: 196px;
        min-height: 196px;
        align-self: center;
        margin-top: auto;
    }

    &__img {
        width: 100%;
    }

    &__dots {
        justify-content: center;
        margin-top: 16px;
        margin-bottom: 24px;
    }

    &__label {
        color: #fff;
        font-weight: 600;
        padding: 8px 12px;
        display: inline-block;
        border-radius: 4px;
        margin: 24px 0 0 24px;
        align-self: self-start;

        &--red {
            background-color: #e34848;
        }

        &--green {
            background: #59b162;
        }
    }

    &__buy {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__btn {
        padding: 8px 22px;
        margin-left: 15px;
    }

    &__price-wrap {
    }

    &__price-title {
        padding-bottom: 4px;
        margin: 0;
    }

    &__price {
        font-size: 20px;
        font-weight: 600;
        color: $titles;
        letter-spacing: 0.2px;
        margin: 0;
    }
}

.baner {
    padding-bottom: 0;

    &__wrap {
        display: flex;
        gap: 30px;
    }

    &__photo {
        margin-left: -125px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            background: linear-gradient(270deg, #fff 12.81%, rgba(255, 255, 255, 0) 89.37%);
            top: 0;
            left: 156px;
            right: 0;
            bottom: 0;
        }
    }

    &__info {
        align-self: center;
    }

    &__title {
        display: block;
        margin-right: -35px;
        line-height: 50px;
        margin-bottom: 8px;
    }

    &__text {
        margin: 0 0 40px 0;
        color: $secondary;
    }

    &__btn {
    }
}

.footer {
    padding: 35px 0 25px;

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__rights {
    }

    &__list {
        display: flex;
        gap: 24px;
    }

    &__item {
    }

    &__link {
        font-weight: 400;
        text-decoration-line: underline;
        color: $secondary;
    }
}

.popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba($color: #000000, $alpha: 0.8);
    z-index: 100;
    overflow-y: auto;

    &__active {
        display: block;
    }

    &__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;
    }

    &__content {
        background-color: #fff;
        color: $titles;
        max-width: 800px;
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
    }

    &__close {
        all: initial;
        align-self: flex-end;
        position: relative;
        z-index: 2;
        padding: 15px;
        cursor: pointer;
    }

    &__first-line {
        width: 25px;
        height: 2px;
        background-color: #000000;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
    }

    &__second-line {
        width: 25px;
        height: 2px;
        background-color: #000000;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
    }

    &__content-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__text-block {
        display: flex;
        align-items: center;
        width: 370px;
    }

    &__icon-delete {
        opacity: 0;
    }

    &__del-img {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    &__photo {
        width: 200px;
        height: 200px;
    }

    &__img {
        width: 200px;
        height: 200px;
    }

    &__title {
        margin-left: 5px;
    }

    &__buttons {
        display: flex;
        justify-content: space-around;
        border: 2px solid $primary;
        padding: 2px;
        border-radius: 8px;
        gap: 10px;
        min-width: 70px;
    }

    &__less-btn {
        padding: 0 0 0 5px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    &__number {
    }

    &__more-btn {
        padding: 0 5px 0 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    &__price {
        width: 100px;
        text-align: end;
    }

    &__info {
        display: flex;
        gap: 15px;
    }

    &__name {
        align-self: flex-start;
        border-radius: 8px;
        padding: 5px 10px;
    }

    &__email {
        align-self: flex-start;
        border-radius: 8px;
        padding: 5px 10px;
    }

    &__submit {
        align-self: flex-end;
        margin-top: 15px;
    }
}

.popup-success {
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-default {
    justify-content: center;
    align-items: center;
    text-align: center;

    &__cart-img {
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }
}

.popup-success__message,
.popup-default__message {
    color: $titles;
    max-width: 800px;
    margin: 40px 100px;
}
