@media (max-width: 1500px) {
    .item-card__wrap {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .item-card__photo {
        margin-right: 0;
    }
}

@media (max-width: 1300px) {
    .first-screen::before {
        left: -200px;
        right: -200px;
    }
}

@media (max-width: 1046px) {
    .info-list {
        justify-content: center;
    }

    .catalog-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .catalog-list__digital-wrap {
        max-width: 473px;
    }
}

@media (max-width: 760px) {
    .menu,
    .header__wrap-cart {
        display: none;
    }

    .burger-menu {
        width: 30px;
        height: 30px;
        position: relative;
        z-index: 999;
        overflow: hidden;
        cursor: pointer;

        &__item {
            height: 2px;
            width: 34px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $accent;
            transition: all 0.5s;

            &:nth-of-type(2) {
                top: calc(50% - 5px);
                left: 30px;
            }

            &:nth-of-type(3) {
                top: calc(50% + 5px);
                left: -3px;
            }
        }
    }

    .burger-menu--open .burger-menu__item:nth-of-type(1) {
        width: 0;
    }

    .burger-menu--open .burger-menu__item:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
        left: 50%;
    }

    .burger-menu--open .burger-menu__item:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
        left: 50%;
    }

    .menu {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        background: #fbfbfb;
        transform: translateX(-100%);
        transition: transform 0.5s;
        z-index: 10;

        &__list-link {
            color: #333;
        }

        &__list {
            font-size: 35px;
            line-height: 1.2;
            font-weight: 600;
            color: #333;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
        }
    }

    .menu--open {
        transform: translateX(0);
        display: flex;
        justify-content: center;
        align-items: center;

        .menu__cart {
            display: block;
        }

        .menu__link {
            color: #333;
            font-size: 32px;
        }
    }

    .container-padding {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .info {
        padding-top: 70px;
    }
}

@media (max-width: 720px) {
    .first-screen__line {
        top: -32%;
    }

    .first-screen__title {
        font-size: 42px;
    }
}

@media (max-width: 630px) {
    .catalog-list {
        grid-template-columns: repeat(1, 1fr);
    }

    .catalog-list__digital-wrap {
        max-width: 564px;
    }
}

@media (max-width: 585px) {
    .first-screen::before {
        left: -150px;
        right: -150px;
    }
}

@media (max-width: 560px) {
    .first-screen__title {
        font-size: 36px;
    }
    .first-screen__line {
        top: -38%;
    }
}

@media (max-width: 515px) {
    .first-screen__search {
        padding: 20px 128px 20px 24px;
    }
}

@media (max-width: 486px) {
    .first-screen__title {
        font-size: 28px;
    }

    .first-screen__line {
        top: -68%;
        right: -6%;
    }

    .item-card__photo {
        display: none;
    }

    .title {
        font-size: 28px;
    }

    .item-card__title {
        padding-bottom: 25px;
    }

    .item-card__text-box {
        padding-bottom: 60px;
    }

    .catalog__list {
        gap: 20px;
    }

    .catalog {
        .mixitup-control-active {
            &:nth-child(1) {
                ~ .catalog__dot {
                    left: 19px;
                }
            }

            &:nth-child(2) {
                ~ .catalog__dot {
                    left: 82px;
                }
            }

            &:nth-child(3) {
                ~ .catalog__dot {
                    left: 155px;
                }
            }

            &:nth-child(4) {
                ~ .catalog__dot {
                    left: 218px;
                }
            }

            &:nth-child(5) {
                ~ .catalog__dot {
                    left: 278px;
                }
            }
        }
    }
}

@media (max-width: 380px) {
    .info-list__icon {
        width: 44px;
        height: 44px;
    }

    .info-list__item {
        min-width: 262px;
    }
}

@media (max-width: 360px) {
    .first-screen::before {
        left: -130px;
        right: -130px;
    }

    .catalog__list {
        gap: 10px;
    }

    .catalog {
        .mixitup-control-active {
            &:nth-child(1) {
                ~ .catalog__dot {
                    left: 19px;
                }
            }

            &:nth-child(2) {
                ~ .catalog__dot {
                    left: 72px;
                }
            }

            &:nth-child(3) {
                ~ .catalog__dot {
                    left: 135px;
                }
            }

            &:nth-child(4) {
                ~ .catalog__dot {
                    left: 188px;
                }
            }

            &:nth-child(5) {
                ~ .catalog__dot {
                    left: 238px;
                }
            }
        }
    }
}
